.diabetes-page{
	width: 100vw;
	height: 100vh;
	text-align: center;
    box-sizing: border-box;
    padding-top: 60px;
}


.show_average, .select_range, .title, .grafica{
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    width: 100%;
}

.grafica {

}

@media screen and (max-width: 767px) {
    .fab {
        display: initial;
    }

    .buttonNormal{
        display: none;
    }
}


@media screen and (min-width: 768px) {
    .fab {
        display: none;
    }

    .buttonNormal{
        display: initial;
    }
}

