.diabetes-page{
	width: 100vw;
	height: 100vh;
	text-align: center;
    box-sizing: border-box;
    padding-top: 60px;
}


.show_average, .select_range, .title, .grafica{
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    width: 100%;
}

.grafica {

}

.promedio-aceptable{
    color: green;
}

.promedio-peligro{
    color: red;
}

.promedio-limite{
    color: #ffea0a;
}

@media screen and (max-width: 767px) {
    .fab {
        display: initial;
    }

    .buttonNormal{
        display: none;
    }
}

.add-medida-form{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media screen and (min-width: 768px) {
    .fab {
        display: none;
    }

    .buttonNormal{
        display: initial;
    }
}

