div.homePage {
	background-image: url('../../assets/img/family.jpeg');
	min-height: 100%;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	opacity: 0.90;
}

NavLink{
	text-decoration: none;
	color: white;
}