div.homePage {
	background-image: url('../../assets/img/wallpaper-earth-hd-24.jpg');
	background-size: cover;
	width: 100vw;
	height: 90vh;
	opacity: 0.99;
}

NavLink{
	text-decoration: none;
	color: white;
}