div.principalStyle{
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/img/washing.jpeg");
    /*background-color: #222;*/
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
h1.fadeIn{
    font-size: 80px;
    -webkit-transition: font-size 0.5s; /* For Safari 3.1 to 6.0 */
    transition: font-size 0.5s;
    transition-timing-function: ease;
}

h1.fadeIn:hover{
    font-size: 110px;
}